{% extends "network/layout.html" %}

{% block body %}

    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="box">
                <h1 class="pad-bottom">{{ userObj.username }}</h1>
                <div class="row">
                    <div class="col text-left">
                        Followers: {{ followers }}
                    </div>
                    <div class="col">
                        {% if loggedIn %}
                        {% if showButton %}
                        <input id="followButton" type="submit" class="btn btn-info" value="{{ buttonVal }}" data-username="{{ currentUser }}" data-owner="{{ userObj.username }}">
                        {% endif %}
                        {% endif %}
                    </div>
                    <div class="col text-right">
                        Following: {{ following }}
                    </div>
                </div>
            </div>  
            {% for each  in postList %}
            <div class ="box">
                <div class="row poster">
                    <div class="col text-left">
                        {{ each.poster }}
                    </div>
                </div>
                <div class="row">
                    <div class="col text-left content">
                        <div class="content">
                            {{ each.content }}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col text-right timestamp">
                        {{ each.time }}
                    </div>
                </div>
                <div class="row">
                    <div class="col text-left">
                        {% if each.poster == currentUser %}
                        <input type="submit" class="btn btn-primary editButton" value="Edit">
                        {% endif %}
                    </div>
                    <div class="col text-right">
                        <i class="fa fa-heart" data-user="{{ currentUser }}" data-postNumber={{ each.id }}> {{ each.likes }}</i>
                    </div>
                </div>
            </div>
            {% endfor %}
            {% if postList.has_other_pages %}
            <div class="row pad-bottom">
                <div class ="col text-left">
                    {% if postList.has_previous %}
                    <a href="?p={{ postList.previous_page_number }}" class= "btn btn-primary">Prev</a>
                    {% endif %}
                </div>
                <div class ="col text-right">
                    {% if postList.has_next %}
                    <a href="?p={{ postList.next_page_number }}" class= "btn btn-primary">Next</a>
                    {% endif %}
                </div>
            </div>
            {% endif %}
        </div>
    </div>
{% endblock %}